<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <header id="header">
      <%- include('../views/header.ejs', {title: title}) %>
    </header>
    <nav id="nav">
      <%- include('../views/nav.ejs', {nav: nav, s: c}) %>
    </nav>
    <section id="content">
      <%- include('../views/section.ejs', {s: c}) %>
    </section>
    <footer id="footer"></footer>
  </body>
</html>
